/*アイドルアイコンへのソロ表示*/
.idol{
	display: inline-block;
	position: relative;
}
.solo{
	float:left;
	position:absolute;
	top:0;
	left:2px;
	color:white;
}
.fuchidori{
	text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}