.idol{
    /* アイドル欄の外枠、フォントの設定 */
    overflow:auto;
    height:auto;
    width:100%;
    border:solid 1px darkgray;
    border-radius:2px;
}
.idolicon{
    /* アイドルアイコンに関すること */
    background:linear-gradient(lightgray,gray);
    float:left;
    padding:8px;
    width:132px;
    margin-bottom:0px;
    display:block;
}
.idolname{
    /* アイドルの名前に関すること */
    font-size:5vm;
    margin:7px 5px;
    border-bottom:dotted 2px gray;
    font-weight: bold;
}
@media(min-width:520px){
    .idolname{font-size:150%;}
}
@media(min-width:620px){
    .idolname{font-size:200%;}
}
.moreinfo{
    /* MLPリンク */
    margin:7px 7px;
}
.info{
    /* 画像の右側の文章のマージン */
    margin-left:132px;
}
