.share{
display:flex;
justify-content:space-between;
}

.share a{
display:block;
width:25%;
padding:7px;
color:#fff;
text-align:center;
font-size:25px;
text-decoration: none;
}

.share a:hover {
cursor: pointer;
box-shadow:0px 0px 8px rgba(0,0,0,0.2);
}

.twitter_share {
 background-color: #1da1f2;
}
.facebook_share {
 background-color: #3b5998;
}
.mastodon_share {
 background-color: #2b90d9;
}
.pocket_share {
 background-color: #ef4056;
}
.hatebu_share {
 background-color: #00a4de;
 font-weight: bold;
 font-
}
.line_share {
 background-color: #00c300;
 font-weight: bold;
}