
/* アイドルごとの横幅を指定 */
@media screen and (min-width:1201px) {
  /*　横幅1201px以上（PCフル表示などの場合）は3列表示　*/
  :root{
    --idolicon_size:100px;
    --idolicon_row:3;
    --idolicon_padding:8px;
  }

}



@media screen and (min-width: 521px) and (max-width: 1200px) {
  /*　横幅521px～1200px（タブレットやPCの半面表示など）は2列表示　*/
  :root{
    --idolicon_size:100px;
    --idolicon_row:2;
    --idolicon_padding:5px;
  }

}

@media screen and (max-width: 520px) { 
  /*　横幅520px以下（スマホなど）は1列表示　*/
  :root{
    --idolicon_size:80px;
    --idolicon_row:1;
    --idolicon_padding:8px;
  }
}



/* その他曲ページのアイドルアイコンまわり */
.idollist{/* フレックスボックスにする */
  display: flex;
  flex-wrap: wrap;
}
.idollist .idol{/* アイテムの外枠、全体フォントに関する設定 */
  height:calc(var(--idolicon_size) + 2px);
  width:calc(100% / var(--idolicon_row));
  border:solid 1px darkgray;
  border-radius:2px;
}

.idolicon{/* アイコンに関する設定（バックグラウンドは、アイドルのテーマカラーを指定しなかったときのみ使用されます） */
  width:var(--idolicon_size);
  padding:var(--idolicon_padding);
  background:linear-gradient(lightgray,gray);
  float:left;
  margin-bottom:0px;
  display:block;
}
.idolname{/* アイドルの名前まわりのスタイル設定 */
  font-size:120%;
  margin:7px 5px;
  border-bottom:dotted 2px gray;
  font-weight: bold;}
.moreinfo{
  margin:7px 7px;
}
.info{
  margin-left:var(--idolicon_size);
}
/* CVまわりのスタイル */

/* 開閉メニュー */
.vmenu_on, .vmenu_off{margin:2px 0px;}
.vmenu_on .vmenuitem{
  min-height:90px;
  cursor:pointer;
  border-right:1px solid #cccc77;
  border-top:1px solid #cccc77; 
  border-left:5px solid #cccc77;}
.vmenu_off .vmenuitem{
  min-height:90px;
  cursor:pointer;
  border:1px solid #77cccc;
  border-left:5px solid #77cccc;}
.vmenu_on {
  display:auto;
  margin:2px auto;
}
.vmenu_off .info_C{
  display:none;
}
.vmenu_all_action {
  cursor: pointer;
}

/* CDアイコンまわり */
.cdinfo{
  height:auto;
}

.info_C .idol{
	display: inline-block;
	position: relative;
}

.cdicon{
  background:linear-gradient(lightgray,gray);
  float:left;
  padding:8px;
  width:88px;
  margin-bottom:0px;
  display: block;
}

.cdname{
  margin-left:104px;
  margin-top:7px;
}
.info_C {
  border-right:1px solid #cccc77;
  border-bottom:1px solid #cccc77;
  border-left:5px solid #cccc77;
  padding: 10px;
}

.idolicon_cd{
  padding:4px;
  width:85px;
  margin-bottom:0px;
}

/* リンク周りのCSS */
.link_label{font-size:1.5em;}
.tab_area{display:flex;justify-content:space-evenly;text-align:center;vertical-align:middle;}
.tab_area_long{display:flex;flex-wrap: wrap;justify-content:space-evenly;text-align:center;vertical-align:middle;}

.btn_item_long{width:30%;display:inline-block;}
.btn_item_long2{width:30%;display:inline-block;}


@media screen and (min-width:1200px) {
  .btn_item_long {width:18%;}
  .btn_item_long2 {width:22%;}

}
@media screen and (min-width: 990px) and (max-width: 1199px) {
  .btn_item_long2 {width:21%;}

}
@media screen and (max-width:990px) {
  .btn_item_long2 {width:40%;}

}

.btn_item_5{width:100%;}
.btn_item_5 #button{margin:0px;}
.btn_item_in{width:100%;display:inline-block;}
.under_line{border-bottom: medium solid thistle;}
.tab_panel{display:none;width:100%;border-bottom: medium solid thistle;border-left: medium solid thistle;border-right: medium solid thistle;}
input[type="radio"]{display:none;}
#tabtw:checked ~ .tab_area .tabtw_label{background:linear-gradient(#99187d,#eb4cc6);color:white;box-shadow:0px 1px 0px black;}
#tabtw:checked ~ .panel_area #paneltw{display:block;}
#tabni:checked ~ .tab_area .tabni_label{background:linear-gradient(#99187d,#eb4cc6);color:white;box-shadow:0px 1px 0px black;}
#tabni:checked ~ .panel_area #panelni{display:block;}


/* 
ツールチップ関係
ツールチップを普段は非表示
*/
div.livelist .setlist {
display: none;
}

/* マウスオーバーしたとき */
div.livelist:hover {
position: relative;
}

/* マウスオーバーしたときにツールチップをブロック要素にする */
div.livelist:hover .setlist {
display: block;
position: absolute;
top: calc(100% + 5px); /*下から5px離したところに表示します*/
color: white; /*文字色は白に*/
background-color: #7272b4; /*ツールチップの背景色*/
max-width: 100%; /*親要素からはみ出さないように*/
padding: 5px;
border-radius:3px;
z-index:100;
}

/*アイドルアイコンへのソロ表示*/
.solo{
	float:left;
	position:absolute;
	top:0;
	left:2px;
	color:white;
}
.fuchidori{
	text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}

/* 関連楽曲まわり */
.musiclist {
  display: grid;
  grid-gap: 2px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.item {
  border-radius: 2px;
  padding: 2px;
  text-align: center;
}

/* 基本情報のスマホ対応 */
@media screen and (max-width : 750px) {
  .songinfo td{
    display : block;
    padding: 2px;
  }

  .songinfo td:nth-child(1){
    text-align: left;
    font-weight: bold;
    font-size: 120%;
    border-bottom: dotted 3px gray;
  }
  
  .songinfo td:nth-child(2){
    padding: 10px;
    border: none !important;
  }

  .songinfo{
    border-top: none !important;
  }

}

