
/* アイドルごとの横幅を指定 */
@media screen and (min-width:1201px) {
    /*　横幅1201px以上（PCフル表示などの場合）は3列表示　*/
    .idol {width:33%;}
    .solocolle .idol {width:50%;}

  }



@media screen and (min-width: 521px) and (max-width: 1200px) {
    /*　横幅521px～1200px（タブレットやPCの半面表示など）は2列表示　*/
    .idol {width:50%;}

  }

 @media screen and (max-width: 520px) { 
    /*　横幅520px以下（スマホなど）は1列表示　*/
    .idol {width:100%;}
  }

@media screen and (min-width: 521px) and (max-width: 600px) {
    /*　横幅521px～1200px（タブレットやPCの半面表示など）は2列表示　*/
    .solocolle .idol {width:100%;}

  }



/* その他曲ページのアイドルアイコンまわり */
.idollist{display: flex;flex-wrap: wrap;}/* フレックスボックスにする */
.idol{height:102px;border:solid 1px darkgray;border-radius:2px;font-family: "Rounded Mplus 1c";}/* アイテムの外枠、全体フォントに関する設定 */
.idolicon{background:linear-gradient(lightgray,gray);float:left;padding:8px;width:100px;margin-bottom:0px;display:block;}/* アイコンに関する設定（バックグラウンドは、アイドルのテーマカラーを指定しなかったときのみ使用されます） */
.idolname{font-size:20px;margin:7px 5px;border-bottom:dotted 2px gray;font-weight: bold;}/* アイドルの名前まわりのスタイル設定 */
.moreinfo{margin:7px 7px;}.info{margin-left:100px;}/* CVまわりのスタイル */</style>

/* 開閉メニュー */
.vmenu_on, .vmenu_off{margin:2px 0px;}
.vmenu_on .vmenuitem{
	min-height:90px;
	cursor:pointer;
	border-right:1px solid #cccc77;
	border-top:1px solid #cccc77; 
	border-left:5px solid #cccc77;}
.vmenu_off .vmenuitem{
	min-height:90px;
	cursor:pointer;
	border:1px solid #77cccc;
	border-left:5px solid #77cccc;}
.vmenu_on {display:auto; margin:2px auto;}
.vmenu_off .info_C{display:none;}
.vmenu_all_action {cursor: pointer;}

/* CDアイコンまわり */
.cdinfo{
  height:auto;
}

.cdicon{
  background:linear-gradient(lightgray,gray);
  float:left;
	padding:8px;
  width:88px;
	margin-bottom:0px;
	display: block;
}

.cdname{
  margin-left:104px;
  margin-top:7px;
}
.info_C {border-right:1px solid #cccc77;border-bottom:1px solid #cccc77; border-left:5px solid #cccc77;padding: 10px;}

.idolicon_cd{padding:4px;width:85px;margin-bottom:0px;}
